@import "tailwindcss";

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
    border-radius: .75rem;
    padding: .5rem .75rem;
    font-weight: 600;
    transition: background-color .2s ease, color .2s ease, border-color .2s ease, box-shadow .2s ease;
}

.button--primary {
    background: theme(color.blue.500);
    color: theme(color.white);
}

.button--primary:is(:hover, :focus-visible):not(:disabled) {
    background: theme(color.blue.600);
}

.button--secondary {
    background-color: theme(color.gray.100);
    color: theme(color.gray.900);
    border-color: theme(color.gray.300);
}

.button--secondary:is(:hover, :focus-visible):not(:disabled) {
    background-color: theme(color.gray.200);
}

.button--ghost {
}

.button--ghost:is(:hover, :focus-visible):not(:disabled) {
    background-color: theme(color.gray.100);
}

.button:focus-visible {
    outline: 2px solid theme(color.blue.300);
    outline-offset: 2px;
}

.button:disabled {
    cursor: not-allowed;
    opacity: .6;
}
