@import "tailwindcss";

h1 {
    font-size: 28px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 600;
}

p {
    font-size: 16px;
    font-weight: 600;
    /*color: #687888;*/
}

.member-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .75rem .625rem;
}

.workshop-container {
    background: theme(color.gray.100);
    padding: 20px;
    border-radius: 1rem;
}

.workshop-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .75rem;
    background: theme(color.white);
    padding: 16px 20px;
    border: 1px solid theme(color.gray.100);
}

/*.workshop-card:hover {*/
/*    background: theme(color.gray.100);*/
/*    border: 1px solid theme(color.gray.300);*/
/*    transition: all;*/
/*    transition-duration: .2s;*/
/*    cursor: pointer;*/
/*}*/

.workshop-title {
    color: theme(color.blue.600);
}

.card-indicator {
    color: theme(color.blue.500);
    transition: all;
    transition-duration: .2s;
}

.workshop-card:hover .card-indicator {
    margin-right: 8px;
    transition: all;
    transition-duration: .2s;
}

.planner {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: .5rem;
}

.planners-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 1080px) {
    .planners-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1.5rem;
    }
}

.divider {
    border: none;
    height: 1px;
    background-color: theme(colors.gray.200);
    margin-top: .5rem;
}