@import "tailwindcss";

:root {
    --color-container: theme(color.gray.100);
    --color-container-hover: theme(color.gray.200);

    --color-text-placeholder: theme(color.gray.400);
}

html,
body {
    min-height: 100%;
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    font-weight: 600;
    /*background-color: var(--color-bg);*/
    color: var(--color-fg);
}

.bg-container {
    padding: 1.8rem 3rem 3.2rem;
    border-radius: .7rem;
    background-color: var(--color-container);
}

.sm-container {
    padding: 1rem 1.2rem;
    border-radius: .7rem;
    background-color: var(--color-container);
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input::placeholder {
    color: var(--color-text-placeholder);
}

textarea::placeholder {
    color: var(--color-text-placeholder);
}